<div>
    <div class="row">
        <div class="col-md-2" style="float: right; margin-top: 10px;">
            <ul style="padding: 15px; line-height: 20px; list-style: none;">
                <li class="dropdown">
                    <a dropdown-toggle href="#" style="color: white; text-decoration: none;">
                        <span>Welcome, </span>                       
                        <span>Brian Devlin</span>
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/Home/LogOff">Sign Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-10" style="color: white; margin-top: 14px;">
           
            <span class="hdrLarge">B</span><span>RIAN</span>
            <span class="hdrLarge">D</span><span>EVLIN</span>
            
        </div>
    </div>
</div>
