body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.hdrLarge {
    font-size: 28px;
}

.ua-layout-container {
    margin-top: 5px;
}
.ua-layout-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    margin-top: -10px;
    z-index: 100;
}

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}

/*Animations*/
.view-change-animation.ng-enter {
    -webkit-animation: bounceInLeft 1s;
    animation: bounceInLeft 1s;
}
.view-change-animation.ng-leave {
    -webkit-animation: bounceOutRight 2s;
    animation: bounceOutRight 2s;
}

